﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="siceAsignacion.aspx.cs" Inherits="ReAl.Opinion.Web.siceAsignacion" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<body>
    <asp:Label ID="lblRes" runat="server" Text="Label"></asp:Label>
</body>
</html>
