﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="siceConsolidacion.aspx.cs" Inherits="ReAl.Opinion.Web.siceConsolidacion" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
    <asp:Label ID="lblRes" runat="server" Text="Label"></asp:Label>
</body>
</html>
